build/
node_modules
bower_components
.idea/
img/**/*
*.log
.DS_Store
.travis/deploy_key
config.json
.project
/src/secret.js
/.sublime-gulp.cache
/uploads
/.travis/deploy_key
/config.json
/uploads
/.sublime-gulp.cache
src/config.json
/test/pdfs/output
*.orig
/src/.DS_Store
