<md-content layout="column" ng-controller="addPersonController">
    <div layout="row" class="form-block">
        <md-input-container>
            <label>First Name</label>
            <input type="text" name="firstName" ng-model="person.firstName" required>
            <div ng-messages="form.firstName.$error">
                <div ng-message="required">This field is required.</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Last Name</label>
            <input type="text" name="lastName" ng-model="person.lastName" required>
            <div ng-messages="form.lastName.$error">
                <div ng-message="required">This field is required.</div>
            </div>
        </md-input-container>
    </div>
    <p ng-show="persons.length == 0">Your name will be added to the database.</p>
    <div ng-show="persons.length > 0">
        <p>Person in database</p>
        <md-radio-group ng-model="person.id" ng-if="persons.length > 0">
            <md-radio-button  ng-repeat="p in persons" ng-value="p.id">
                <personmin person="p" />
            </md-radio-button>
        </md-radio-group>
    </div>
    <div class="form-block" ng-show="persons.length == 0">
        <h4>Profile image</h4>
        <img ng-src="{{person.profileImageSrc || '/assets/dummy.jpg'}}" class="profile-image" ng-model="person.profileImageSrc" name="profileImage" alt="profile image" />
        <md-input-container>
            <input type="file" accept="image/*" onchange="angular.element(this).scope().fileNameChanged(this)" />
        </md-input-container>
    </div>
    <div class="form-block" ng-show="persons.length == 0">
        <h4>Affiliation</h4>
        <ul>
            <li ng-repeat="chosenAffiliation in affiliations">
                <p>{{chosenAffiliation.name}}</p>
            </li>
        </ul>
        <md-button 
            class="md-raised" 
            ng-show="affiliations.length > 0" 
            ng-click="popAffiliation()">Undo</md-button>
        <md-autocomplete
            md-selected-item="selectedAffiliation"
            md-search-text="affiliationName"
            md-items="affiliation in filterAffiliations(affiliationName)"
            md-item-text="affiliation.name"
            md-no-cache="true"
            placeholder="University, Faculty, Department ...">
            <span md-highlight-text="affiliationName">{{affiliation.name}}</span>
        </md-autocomplete>
        <md-button 
            class="md-raised" 
            ng-show="affiliationName != selectedAffiliation.name && affiliationName.length > 0" 
            ng-click="postAffiliation(affiliationName)">Add affiliation</md-button>
    </div>
</md-content>