<md-content layout="column">
	<form role="form" name="form" ng-submit="login()">
		<md-input-container>
			<label>{{'EMAIL' | translate}}</label>
			<input ng-model="loginUserForm.email" name="email" type="email" required>
            <div ng-messages="form.email.$error">
                <div ng-message="required">{{'FIELD_REQUIRED' | translate}}</div>
                <div ng-message="email">{{'ENTER_VALID_EMAIL' | translate}}</div>
            </div>
		</md-input-container>
		<md-input-container>
			<label>{{'PASSWORD' | translate}}</label>
			<input ng-model="loginUserForm.password" name="password" type="password" required>
            <div ng-messages="form.password.$error">
                <div ng-message="required">{{'FIELD_REQUIRED' | translate}}</div>
            </div>
		</md-input-container>
		<md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary">{{'LOG_IN' | translate}}</md-button>
	</form>
</md-content>


