<md-content layout="column">
	<form role="form" name="form" ng-submit="login()">
		<md-input-container>
			<label>Email</label>
			<input ng-model="loginUserForm.email" name="email" type="email" required>
            <div ng-messages="form.email.$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="email">Please enter a valid email address.</div>
            </div>
		</md-input-container>
		<md-input-container>
			<label>Password</label>
			<input ng-model="loginUserForm.password" name="password" type="password" required>
            <div ng-messages="form.password.$error">
                <div ng-message="required">This field is required.</div>
            </div>
		</md-input-container>
		<md-button type="submit" ng-disabled="form.email.$invalid || form.password.$invalid" class="md-raised md-primary">Login</md-button>
	</form>
</md-content>
