<md-content layout="row" layout-align="center">
	<md-progress-circular md-mode="indeterminate" ng-if="!publications"></md-progress-circular>
	<md-list class="publications-list">
		<md-item ng-repeat="publication in publications">
			<md-item-content>
				<div class="md-tile-content">
					<h3><a href="{{publication.url}}">{{publication.title}}</a></h3>
					<h4>{{publication.numberOfPages}} pages. Published in {{publication.year}}</h4>
					<p>{{publication.summary}}</p>
				</div>
			</md-item-content>
			<md-divider md-inset ng-if="!$last"></md-divider>
		</md-item>
	</md-list>
</md-content>