<md-content layout="row" layout-align="center">
	<md-toolbar class="md-accent" ng-if="error">Error: {{error}}</md-toolbar>
	<md-progress-circular md-mode="indeterminate" ng-if="showLoading"></md-progress-circular>
	<md-list class="publications-list">
		<md-item ng-repeat="publication in publications">
			<md-item-content>
				<div class="md-tile-content">
					<publicationmin publication="publication"></publicationmin>
				</div>
				<div class="md-tile-right">
					<md-button class="md-fab md-warn" aria-label="Delete publication" ng-click="deletePublication(publication)">
        				<md-icon md-svg-src="/assets/delete.svg"></md-icon>
      				</md-button>
				</div>
			</md-item-content>
			<md-divider md-inset ng-if="!$last"></md-divider>
		</md-item>
	</md-list>
</md-content>