<md-content layout-align="center">
	<md-progress-circular md-mode="indeterminate" ng-if="!publication"></md-progress-circular>
	<div class="page-title">{{publication.title}}</div>
	<md-tabs md-selected="data.selectedIndex">
		<md-tab id="tab1" aria-controls="tab1-content">
        	About
      	</md-tab>
      	<md-tab id="tab2" aria-controls="tab2-content">
        	View
    	</md-tab>
    </md-tabs>
     <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0">
        	<p>{{publication.abstract}}</p>
			<table>
				<tbody>
					<tr>
						<td>Uploaded by</td>
						<td>User number {{publication.uploader}}</td>
					</tr>
					<tr>
						<td rowspan="{{publication.authors.length}}">Authors</td>
						<td><personmin person="authors[0]"></personmin></td>
					</tr>
					<tr ng-repeat="author in authors" ng-if="$index > 0">
						<td><personmin person="author"></personmin></td>
					</tr>
					<tr>
						<td>Number of pages</td>
						<td>{{publication.numberOfPages}}</td>
					</tr>
					<tr>
						<td>Year of publishing</td>
						<td>{{publication.year}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="1">
		<iframe ng-src="{{'http://docs.google.com/gview?url=' + publication.url + '&embedded=true'}}" class="pdf-viewer" frameborder="0"></iframe>
		</div>
	</ng-switch>
</md-content>