<md-content layout="column">
 <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage.length > 0">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  {{ errorMessage }}
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="successMessage.length > 0">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  {{ successMessage }}
</div>

<form role="form" name="userForm" ng-submit="createUser()" layout="column">



  <div layout="row">
    <md-text-float label="First Name" ng-model="userForm.firstName"></md-text-float>
    <md-text-float label="Last Name" ng-model="userForm.lastName"></md-text-float>
      <!--<label class="control-label" style="color:red" ng-show="userForm.firstName.$dirty && userForm.firstName.$invalid || userForm.lastName.$dirty && userForm.lastName.$invalid">
        First name and last name are required.
      </label>-->
    </div>




    <div class="form-group">
      <label for="personId" class="col-xs-1 control-label">Person in database {{ personId }}</label>
        <md-radio-group ng-model="userForm.personId">
          <md-radio-button  ng-repeat="person in persons" ng-checked="radioChecked" ng-value="person.id" aria-label="{{ person.firstName + ' ' + person.lastName }}">{{ person.firstName + ' ' + person.lastName }}
        </md-radio-button>
        </md-radio-group>
        <label class="control-label" ng-show="persons.length == 0">
          Your name will be added to the database.
        </label>
    </div>
    <md-text-float label="Email" ng-model="userForm.email" type="email" required></md-text-float>
        <!--
        <span style="color:red" ng-show="userForm.email.$dirty && userForm.email.$invalid" class="control-label">
          <span ng-show="userForm.email.$error.required">Email is required.</span>
          <span ng-show="userForm.email.$error.email">Invalid email address.</span>
        </span>
      -->
    <md-text-float label="Password" ng-model="userForm.password" type="password" required></md-text-float>
  <!--
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
-->
<md-button type="submit" class="md-raised md-primary" ng-disabled="userForm.firstName.$invalid || userForm.lastName.$invalid ||  
userForm.email.$invalid || userForm.password.$invalid">Register</md-button>
</form>
</md-content>
