<md-content layout="column">

<div class="search-field">
	<h4>Search a publication</h4>
	<md-input-container>
	<label>keyword</label>
	<input id="keyword" pattern=".{3,}" required title="3 characters minimum" type="text" class="form-control" ng-model="keyword" label="keyword">
</md-input-container>

<p class="searchCheckbox">
	Search on: 
 <md-checkbox ng-model="checkTitle" >
    Title
  </md-checkbox>
  <md-checkbox ng-model="checkAuthor" >
    Author
  </md-checkbox>
  <md-checkbox ng-model="checkJournal" >
    Journal
  </md-checkbox>
  <md-checkbox ng-model="checkConference" >
    Conference
  </md-checkbox>
  </p>

<md-button class="md-raised md-primary" ng-disabled="keyword == null" ng-click="search()">Search</md-button>

<md-button class="md-raised md-primary" ng-disabled="keyword == null || (!checkTitle && !checkAuthor && !checkJournal && !checkConference)" ng-click="websearch()">Search the web</md-button>


</div>

<div class="results">
<div layout layout-sm="column" layout-wrap class="result-block">
<h4>Results</h4>
<p ng-show= "foundPublications.length == 0">No results</p>
<ul>
	<li ng-repeat="foundpublication in foundPublications">
		<publicationmin publication="foundpublication" ng-click="view(publication)"></publicationmin>
	</li>
</ul>
</div>

</div>

</md-content>