<md-content layout="column">

<div class="search-field">
	<h4>Search a publication</h4>
	<md-input-container>
	<label>keyword</label>
	<input id="keyword" type="text" class="form-control" ng-model="keyword" label="keyword">
</md-input-container>

<md-button class="md-raised md-primary" ng-disabled="keyword == null" ng-click="search()">Search</md-button>

</div>

<div class="results">
<div layout layout-sm="column" layout-wrap class="result-block">
<h4>Result for Author</h4>
<p ng-show= "foundAuthor.length == 0">No results</p>
<ul>
	<li ng-repeat="foundpublication in foundAuthor">
		<publicationmin publication="foundpublication" ng-click="view(publication)"></publicationmin>
	</li>
</ul>
</div>

<div layout layout-sm="column" layout-wrap class="result-block">
<h4>Result for Journal</h4>
<p ng-show= "foundJournal.length == 0">No results</p>
<ul >
	<li ng-repeat="foundpublication in foundJournal">
		<publicationmin publication="foundpublication" ng-click="view(publication)"></publicationmin>
	</li>
</ul>
</div>

<div layout layout-sm="column" layout-wrap class="result-block">
<h4>Result for Proceeding</h4>
<p ng-show ="foundProceeding.length == 0">No results</p>
<ul >
	<li ng-repeat="foundpublication in foundProceeding">
		<publicationmin publication="foundpublication" ng-click="view(publication)"></publicationmin>
	</li>
</ul>
</div>

<div layout layout-sm="column" layout-wrap class="result-block">
<h4>Result for Publication</h4>
<p ng-show ="foundPublications.length == 0">No results</p>
<ul>
	<li ng-repeat="foundpublication in foundPublications">
		<publicationmin publication="foundpublication" ng-click="view(publication)"></publicationmin>
	</li>
</ul>
</div>
</div>



</md-content>