<md-content layout="column">
	<form ng-submit="updateUser()" layout="column" ng-model="userEditForm" name="userForm">
		<div class="form-block">
			<h4>{{'USER_SETTINGS' | translate}}</h4>
			<md-input-container>
				<label>{{'EMAIL' | translate}}</label>
				<input type="email" name="email" ng-model="userEditForm.email">
			</md-input-container>
			<md-input-container>
				<label>{{'PASSWORD' | translate}}</label>
				<input type="password" name="password" ng-minlength="8" ng-model="userEditForm.password">
			</md-input-container>
		</div>
		<md-button type="submit" class="md-raised md-primary" ng-disabled="userForm.$invalid">{{'SAVE_CHANGES' | translate}}</md-button>
	</form><br>
	<form ng-submit="updatePerson()" layout="column" ng-model="personEditForm" name="personForm">
		<div class="form-block">
			<h4>{{'PERSONAL_SETTINGS' | translate}}</h4>
			<md-input-container>
				<label>{{'FIRST_NAME' | translate}}</label>
				<input type="text" name="firstName" ng-model="personEditForm.firstName">
			</md-input-container>
			<md-input-container>
				<label>{{'LAST_NAME' | translate}}</label>
				<input type="text" name="lastName" ng-model="personEditForm.lastName">
			</md-input-container>
		</div>
		<md-button type="submit" class="md-raised md-primary" ng-disabled="personForm.$invalid">{{'SAVE_CHANGES' | translate}}</md-button>
	</form>
</md-content>