<md-content layout="column">
<form id="upload-publication" role="form" class="form-horizontal" name="postPublicationForm">
    <md-input-container>
    <label>Title</label>
    <input type="text" ng-model="publication.title"></md-input-container>
    <md-input-container>
    <label>Year</label>
    <input id="year" type="number" ng-model="publication.year"></md-input-container>
    <md-input-container>
    <label>Number of pages</label>
    <input id="nb-pages" type="number" min="1" ng-model="publication.numberOfPages"></md-input-container>
    <md-input-container>
    <label ng-hide="localfile" >URL</label>
    <input ng-hide="localfile" id="url" type="url" ng-model="publication.url"></md-input-container>
    <label>Or upload a file</label>
    <input type="file" name="file" onchange="angular.element(this).scope().upload(this.files)"/>
    <div layout layout-sm="column">
    <label>Co Authors</label>
    <md-text-float id="firstname" type="text" class="form-control" ng-model="possibleAuthor.firstName" label="First name"></md-text-float>
    <md-text-float id="lastname" type="text" class="form-control" ng-model="possibleAuthor.lastName" label="Last name"></md-text-float>
</div>

<ul>
    <li ng-repeat="person in publication.fetcher.fetchPersons(possibleAuthor)">
        <personmin person="person" ng-click="publication.add(publication.authors, person)"></personmin>
    </li>
</ul>
<div ng-repeat="chosenAuthor in publication.authors">
    <personmin person="chosenAuthor"></personmin>
    <md-button ng-click="publication.remove(publication.authors, chosenAuthor)">Remove</md-button>
</div>
<div class="form-group">

    <label for="Discipline" class="col-xs-1 control-label">Discipline</label>
    <div class="col-xs-10">
        <!--Werkt pas vanaf versie 0.8
        <md-select ng-model="selectedDiscipline" placeholder="Discipline">
            <md-option ng-value="discipline" ng-repeat="discipline in publication.fetcher.fetchDisciplines({})">{{ discipline.name }}</md-option>
        </md-select>-->
        <select ng-model="selectedDiscipline" placeholder="Discipline">
            <option ng-value="discipline" ng-repeat="discipline in publication.fetcher.fetchDisciplines({})">{{ discipline.name }}</md-option>
        </select>

    <md-button class="btn btn-primary" ng-click="publication.add(publication.disciplines, selectedDiscipline)">
        Add
    </md-button>
    <ul>
        <li ng-repeat="discipline in publication.disciplines">
            {{discipline.name}}
        </li>
    </ul>
</div>
</div>

<md-radio-group ng-model="publication.type">
<label>Publication type</label>
    <md-radio-button value="Journal">Journal</md-radio-button>
    <md-radio-button value="Proceeding">Proceeding</md-radio-button>
</md-radio-group>
<div class="form-group" ng-show="publication.type == 'Proceeding'">
    <label for="proceeding" class="control-label col-xs-1">Select a Proceeding</label>
    <div class="col-xs-10">
        <input id="proceeding" type="text" ng-model="proceeding.name">
        <ul>
            <li ng-repeat="possibleProceeding in publication.fetcher.fetchProceedings(proceeding)">
                <proceedingmin proceeding="possibleProceeding" 
                ng-click="publication.proceeding = possibleProceeding">
            </proceedingmin>
        </li>
    </ul>
    <proceedingmin proceeding="publication.proceeding"></proceedingmin>
</div>
</div>
<div class="form-group" ng-show="publication.type == 'Proceeding'">
    <label for="editors" class="col-xs-1 control-label">Editors</label>
    <div class="col-xs-10">
        <input id="editors" type="text" class="form-control" ng-model="publication.editors">
    </div>
</div>
<div class="form-group" ng-show="publication.type == 'Proceeding'">
    <label for="publisher" class="col-xs-1 control-label">Publisher</label>
    <div class="col-xs-10">
        <input id="publisher" type="text" class="form-control" ng-model="publication.publisher">
    </div>
</div>
</div>
<md-input-group ng-show="publication.type == 'Proceeding'">
<label>City</label>
<input type="text" ng-model="publication.city">
</md-input-group>
<div ng-show="publication.type == 'Journal'">
    <label for="journal">Select a Journal</label>
    <input id="journal" type="text" ng-model="journal.name">
    <ul>
        <li ng-repeat="possibleJournal in publication.fetcher.fetchJournals(journal)">
            <proceedingmin proceeding="possibleJournal" 
            ng-click="publication.journal = possibleJournal">
        </proceedingmin>
    </li>
</ul>
<proceedingmin proceeding="publication.journal"></proceedingmin>
</div>
<md-input-container ng-show="publication.type == 'Journal'">
    <label>Volume</label>
    <input type="number" ng-model="publication.volume">
</md-input-container>
<md-input-container ng-show="publication.type == 'Journal'">
    <label>Number</label>
    <input type="number" ng-model="publication.number">
</md-input-container>
<md-button class="btn btn-primary" ng-disabled="postPublicationForm.$invalid" ng-click="publication.post()">Send</md-button>
</form>
</div>
