<div class="container">
    <h1>Upload publication</h1>
    <form id="upload-publication" role="form" class="form-horizontal" name="postPublicationForm">
        <div class="form-group">
            <label for="title" class="col-xs-1 control-label">Title</label>
            <div class="col-xs-10">
                <input id="title" type="text" class="form-control" ng-model="publication.title">
            </div>
        </div>
        <div class="form-group">
            <label for="year" class="col-xs-1 control-label">Year</label>
            <div class="col-xs-10">
                <input id="year" type="number" class="form-control" ng-model="publication.year">
            </div>
        </div>
        <div class="form-group">
            <label for="nb-pages" class="col-xs-1 control-label">Number of Pages</label>
            <div class="col-xs-10">
                <input id="nb-pages" type="number" min="1" class="form-control" ng-model="publication.numberOfPages">
            </div>
        </div>
        <div class="form-group">
            <label for="url" class="col-xs-1 control-label">URL</label>
            <div class="col-xs-10">
                <input id="url" type="url" class="form-control" ng-model="publication.url">
            </div>
        </div>
        <div class="form-group">
            <label for="co-authors" class="col-xs-1 control-label">Co Authors</label>
            <div class="col-xs-10">
                <div class="form-inline">
                    <div class="form-group">
                        <input id="firstname" type="text" class="form-control" ng-model="possibleAuthor.firstName" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <input id="lastname" type="text" class="form-control" ng-model="possibleAuthor.lastName" placeholder="Last name">
                    </div>
                </div>
                <ul>
                    <li ng-repeat="person in publication.fetcher.fetchPersons(possibleAuthor)">
                        <personmin person="person" ng-click="publication.add(publication.authors, person)"></personmin>
                    </li>
                </ul>
                <div ng-repeat="chosenAuthor in publication.authors">
                    <personmin person="chosenAuthor"></personmin>
                    <button ng-click="publication.remove(publication.authors, chosenAuthor)">Remove</button>
                </div>
                <select ng-model="selectedDiscipline" 
                ng-options="discipline.name for discipline in publication.fetcher.fetchDisciplines({})">
            </select>
            <button class="btn btn-primary" ng-click="publication.add(publication.disciplines, selectedDiscipline)">
                Add
            </button>
            <ul>
                <li ng-repeat="discipline in publication.disciplines">
                    {{discipline.name}}
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="proceeding-choice" class="col-xs-1 control-label">Publication type</label>
        <div class="col-xs-10">
            <label for="proceeding-choice">Proceeding</label>
            <input id="proceeding-choice" type="radio" ng-model="publication.type" value="Proceeding">
            <label for="journal">Journal</label>
            <input id="journal" type="radio" ng-model="publication.type" value="Journal">
        </div>
    </div>
    <div class="form-group" ng-show="publication.type == 'Proceeding'">
        <label for="proceeding" class="control-label col-xs-1">Select a Proceeding</label>
        <div class="col-xs-10">
            <input id="proceeding" type="text" ng-model="proceeding.name">
            <ul>
                <li ng-repeat="possibleProceeding in publication.fetcher.fetchProceedings(proceeding)">
                    <proceedingmin proceeding="possibleProceeding" 
                    ng-click="publication.proceeding = possibleProceeding">
                </proceedingmin>
            </li>
        </ul>
        <proceedingmin proceeding="publication.proceeding"></proceedingmin>
    </div>
</div>
<div class="form-group" ng-show="publication.type == 'Proceeding'">
    <label for="editors" class="col-xs-1 control-label">Editors</label>
    <div class="col-xs-10">
        <input id="editors" type="text" class="form-control" ng-model="publication.editors">
    </div>
</div>
<div class="form-group" ng-show="publication.type == 'Proceeding'">
    <label for="publisher" class="col-xs-1 control-label">Publisher</label>
    <div class="col-xs-10">
        <input id="publisher" type="text" class="form-control" ng-model="publication.publisher">
    </div>
</div>
<div class="form-group" ng-show="publication.type == 'Proceeding'">
    <label for="city" class="col-xs-1 control-label">City</label>
    <div class="col-xs-10">
        <input id="city" type="text" class="form-control" ng-model="publication.city">
    </div>
</div>
<div ng-show="publication.type == 'Journal'">
    <label for="journal">Select a Journal</label>
    <input id="journal" type="text" ng-model="journal.name">
    <ul>
        <li ng-repeat="possibleJournal in publication.fetcher.fetchJournals(journal)">
            <proceedingmin proceeding="possibleJournal" 
            ng-click="publication.journal = possibleJournal">
        </proceedingmin>
    </li>
</ul>
<proceedingmin proceeding="publication.journal"></proceedingmin>
</div>
<div class="form-group" ng-show="publication.type == 'Journal'">
    <label for="volume" class="col-xs-1 control-label">Volume</label>
    <div class="col-xs-10">
        <input id="volume" type="number" class="form-control" ng-model="publication.volume">
    </div>
</div>
<div class="form-group" ng-show="publication.type == 'Journal'">
    <label for="number" class="col-xs-1 control-label">Number</label>
    <div class="col-xs-10">
        <input id="number" type="number" class="form-control" ng-model="publication.number">
    </div>
</div>
<button class="btn btn-primary" ng-click="publication.post()">Send</button>
</form>
</div>