<md-content layout="column">

  <div class="uploadfield">
       <md-button class="md-fab md-primary" aria-label="Upload" onclick="document.getElementById('uploadpdf').click();">
       <md-icon md-svg-src='/assets/upload.svg'></md-icon>
       <md-tooltip >Upload a pdf</md-tooltip>
   </md-button>
       <span class="label">Fill in all fields below, or upload a pdf file</span>
</div>

<form id="upload-publication" role="form" class="form-horizontal" name="postPublicationForm">
<input ng-hide="true" id="uploadpdf" type="file" class="file" name="file" onchange="angular.element(this).scope().uploadpdf(this.files)"/>
<div class="form-block">
    <h4>Publication Information</h4>
    <md-input-container>
    <label>Title</label>
    <input type="text" ng-model="title">
</md-input-container>
<md-input-container>
<label>Year</label>
<input id="year" type="number" ng-model="year">
</md-input-container>
<md-input-container>
<label>Number of pages</label>
<input id="nb-pages" type="number" min="1" ng-model="numberOfPages">
</md-input-container>
<md-input-container>
<label ng-hide="localfile" >URL</label>
<input ng-hide="localfile" id="url"  ng-model="url">
</md-input-container>
<md-input-container>
<label>Abstract</label>
<textarea ng-model="abstract" columns="1" md-maxlength="500"></textarea>
</md-input-container>
</div>

<div layout layout-sm="column" class="form-block" layout-wrap>
    <h4>Co Authors</h4>
    <md-input-container>
    <label>First Name</label>
    <input id="firstname" type="text" class="form-control" ng-model="possibleAuthor.firstName" label="First name">
</md-input-container>
<md-input-container>
<label>Last Name</label>
<input id="lastname" type="text" class="form-control" ng-model="possibleAuthor.lastName" label="Last name">
</md-input-container>
<ul class="choices"> 
    <li ng-repeat="person in fetcher.fetchPersons(possibleAuthor)">
        <personmin person="person" ng-click="add(authors, person)"></personmin>
    </li>
</ul>
<h4 ng-show="authors.length > 0">Selected authors</h4>
<ul class="choices chosen">
    <li ng-repeat="chosenAuthor in authors">
        <personmin person="chosenAuthor" ng-click="remove(authors, chosenAuthor)"></personmin>
    </li>
</ul>
</div>



<div class="form-block">
    <h4>Disciplines</h4>
    <md-select ng-model="selectedDiscipline" placeholder="Discipline">
    <md-option ng-value="discipline" ng-repeat="discipline in fetcher.fetchDisciplines({})">{{ discipline.name }}</md-option>
</md-select>
<md-button class="btn btn-primary" ng-click="add(disciplines, selectedDiscipline)">Add</md-button>
<h4 ng-show="disciplines.length > 0">Selected Disciplines</h4>
<ul class="choices chosen">
    <li ng-repeat="disc in disciplines">
        <p ng-click="remove(disciplines, disc)">{{disc.name}}</p>
    </li>
</ul>
</div>
<div class="form-block">
    <h4>Publication type</h4>
    <md-radio-group ng-model="type">
    <md-radio-button value="Journal">Journal</md-radio-button>
    <md-radio-button value="Proceeding">Proceeding</md-radio-button>
</md-radio-group>
<div ng-show="type == 'Proceeding'">
    <md-input-container>
    <label>Search a Proceeding</label>
    <input id="proceeding" type="text" ng-model="searchproceeding.name">
</md-input-container>
<ul class="choices">
    <li ng-click="chooseProceeding(possibleProceeding)" ng-repeat="possibleProceeding in fetcher.fetchProceedings(searchproceeding)">
        <proceedingmin proceeding="possibleProceeding"></proceedingmin>
    </li>
</ul>
<div ng-show="proceeding !== undefined">
    <h4>Selected Proceeding</h4>
    <proceedingmin proceeding="proceeding"></proceedingmin>
</div>
<md-input-container >
<label>Editors</label>
<input id="city" type="text" ng-model="editors">
</md-input-container>
<md-input-container >
<label>Publisher</label>
<input id="publisher" type="text" ng-model="publisher">
</md-input-container>
<md-input-container>
<label>City</label>
<input id="city" type="text" ng-model="city">
</md-input-container>
</div>
<div ng-show="type == 'Journal'">
    <md-input-container>
    <label for="searchjournal">Search a Journal</label>
    <input id="searchjournal" type="text" ng-model="searchjournal.name">
</md-input-container>
<ul class="choices">
    <li ng-click="chooseJournal(possibleJournal)" ng-repeat="possibleJournal in fetcher.fetchJournals(searchjournal)">
        <proceedingmin proceeding="possibleJournal"></proceedingmin>
    </li>
</ul>
<div ng-show="journal !== undefined">
    <h4>Selected Journal</h4>
    <proceedingmin proceeding="journal"></proceedingmin>
</div>
<md-input-container>
<label>Volume</label>
<input type="number" ng-model="volume">
</md-input-container>
<md-input-container>
<label>Number</label>
<input type="number" ng-model="number">
</md-input-container>
</div>
</div>

   <div class="uploadfield">
    <span class="label">Add references, or upload a bibtex file</span>
        <md-button class="md-fab md-primary" aria-label="Upload" onclick="document.getElementById('uploadbib').click();">
        <md-icon md-svg-src='/assets/upload.svg'></md-icon>
        <md-tooltip >Upload a bibtex file</md-tooltip>
    </md-button>
</div>
<input ng-hide="true" id="uploadbib" type="file" class="file" name="file" onchange="angular.element(this).scope().uploadbibtex(this.files)"/>

<div layout layout-sm="column" layout-wrap class="form-block">
    <h4>References</h4>
    <md-input-container>
    <label>References</label>
    <input id="reference" type="text" class="form-control" ng-model="possiblereference" label="Reference">
</md-input-container>
<md-button class="btn btn-primary" ng-click="add(references, possiblereference)">Add</md-button>
<h4 ng-show="references.length > 0">Selected References</h4>
<ul class="choices chosen">
    <li ng-repeat="reference in references">
        <p ng-click="remove(references, reference)">{{reference}}</p>
    </li>
</ul>
</div>



<md-button class="md-raised md-primary reserve-tooltip-space" ng-disabled="postPublicationForm.$invalid" ng-click="post()">
<!-- md-direction doesn't work in this version of angular-material. Temporary fix in the css file -->
<md-tooltip md-direction="top">Upload your publication</md-tooltip>
Send
</md-button>
</form>
</md-content>
