.profile-image {
    max-height: 20px;
    max-width: 20px;
    margin-right: 4px;
}

a {
	color: #000;
	text-decoration: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 12px 6px;
	text-align: left;
}

tr:nth-child(even) td {
	background-color: #f6f6f6;
}

.menu-lang-btn {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-radius: 0px !important;
	text-align: center !important;
}