  @font-face {
    font-family : "lobster";
    src:url("../fonts/Lobster.otf");
  }

  .form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
  }

  .logo-name:before {
    display:inline-block;
    content:"W";
    font-family:"lobster";
    background-color: rgba(179,204,51,0.8);
    border-radius:50%;
    margin: 0.2em;
    padding:0.3em;

  }