div.fakeupload {
	position: relative;
	top: -35px;
	left: 10px;
	z-index: 1;
}


input.file {
	position: absolute;
	text-align: left;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0.5;
	z-index: 2;
}

span.label{
	float:left;
}

p.uploadfield{
	padding-top: 20px;
}
