div.fakeupload button{
	margin-left: 10px;
}


input.file {
	position: absolute;
	text-align: left;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0.5;
	z-index: 2;
}

p.uploadfield{
	float: left;
}

.reserve-tooltip-space {
	margin-bottom: 35px;
}